.playerQueue {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 90px;
    width: 330px;
    border-bottom: none;
    border-left: 1px solid hsla(0,0%,100%,0.1);
    .playerQueueContainer {
        height: calc(100vh - 90px);
        max-height: calc(100vh - 90px);
        bottom: 0;
        right: 0;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}